{% extends 'base.html.twig' %}

{% block title %}  Global Activity! {% endblock %}
{% block page_content %}
    <h1>Activity</h1>
    <table class="table table-vcenter card-table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.title }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.image }}</td>
                <td>{{ activity.date|date('Y-m-d H:i:s')  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
